<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>CRM</title>
		<link href="/templates/main/css/styles.css" rel="stylesheet" />
		<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
	</head>
	<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" href="{{ urlFor('main') }}">CRM</a>
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
			<ul class="d-inline-block navbar-nav ms-auto me-3 me-lg-4">
				<li class="nav-item dropdown">
					<span class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></span>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="{{ urlFor('logout') }}">Выход</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<div id="layoutSidenav">
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<a class="nav-link" href="{{ urlFor('clients') }}">
								<div class="sb-nav-link-icon"><i class="fas fa-user-tie"></i></div>
								Клиенты
							</a>
						</div>
						<div class="nav">
							<a class="nav-link" href="{{ urlFor('projects') }}">
								<div class="sb-nav-link-icon"><i class="fas fa-box"></i></div>
								Проекты
							</a>
						</div>
						<div class="nav">
							<a class="nav-link" href="{{ urlFor('tasks') }}">
								<div class="sb-nav-link-icon"><i class="fas fa-file"></i></div>
								Задачи
							</a>
						</div>
					</div>
				</nav>
			</div>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4 pt-4">

						{% if flash.success %}
							<div class="alert alert-success alert-dismissible fade show" role="alert">
								{{ flash.success }}
								<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
							</div>
						{% endif %}

						{% if flash.error %}
							<div class="alert alert-danger alert-dismissible fade show" role="alert">
								{{ flash.error }}
								<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
							</div>
						{% endif %}

						{% block content %}{% endblock %}
					</div>
				</main>
				<footer class="py-4 bg-light mt-auto">
					<div class="container-fluid px-4">
						<div class="d-flex align-items-center justify-content-end small">
							<div class="text-muted">Copyright &copy; CRM 2025</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
		<script src="/templates/main/js/scripts.js"></script>
		{% block script %}{% endblock %}
	</body>
</html>
